<h1 style="text-align: center; background-color: #006A4E; color: white; padding: 20px">Lutte contre la fraude fiscale (Projet BnP)</h1>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [8]:
def load_data():
    # Load the data from the csv file in Data folder
    dict_data = {}
    for filename in os.listdir('Data'):
        if filename.endswith('.csv'):
            data = pd.read_csv(os.path.join('Data', filename), low_memory=False)
            dict_data[filename] = data

    # return the dict data decomposed into x_train, x_test, y_train, y_test
    return dict_data['x_train.csv'], dict_data['y_train.csv'], dict_data['x_test.csv'], dict_data['y_test.csv']
    
    

x_train, y_train, x_test, y_test = load_data()

In [10]:
x_train.describe()

,ID,cash_price1,cash_price2,cash_price3,cash_price4,cash_price5,cash_price6,cash_price7,cash_price8,cash_price9,...,Nbr_of_prod_purchas16,Nbr_of_prod_purchas17,Nbr_of_prod_purchas18,Nbr_of_prod_purchas19,Nbr_of_prod_purchas20,Nbr_of_prod_purchas21,Nbr_of_prod_purchas22,Nbr_of_prod_purchas23,Nbr_of_prod_purchas24,Nb_of_items
count,92790.000000,92790.000000,44656.000000,12901.000000,4562.000000,2170.00000,1336.000000,946.000000,727.000000,568.000000,...,165.000000,142.000000,120.000000,103.000000,91.000000,77.000000,63.000000,50.000000,43.000000,92790.000000
mean,57968.969070,1093.907124,191.608071,193.334548,176.132398,195.73871,162.015719,144.598309,130.957359,132.609155,...,1.290909,1.436620,1.466667,1.388350,1.329670,1.220779,1.380952,1.160000,1.372093,1.764479
std,33487.595782,711.172270,392.665621,375.676640,321.354938,374.22739,292.077355,291.432858,257.730692,267.234057,...,0.749131,1.431484,1.810025,1.165122,0.869929,0.528737,0.923328,0.548095,1.113195,1.462264
min,0.000000,2.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,28901.250000,649.000000,7.000000,7.000000,10.000000,16.00000,15.000000,20.000000,16.000000,18.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,57961.500000,949.000000,40.000000,43.000000,48.000000,59.00000,50.000000,50.000000,45.000000,45.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,86985.750000,1349.000000,139.000000,189.000000,189.000000,199.00000,179.250000,140.000000,120.000000,129.250000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.500000,1.000000,1.000000,2.000000
max,115985.000000,21995.000000,6499.000000,5999.000000,5198.000000,4249.00000,2997.000000,4198.000000,2999.000000,2399.000000,...,6.000000,12.000000,16.000000,7.000000,7.000000,4.000000,7.000000,4.000000,8.000000,60.000000